body {
    font-size: 24px;
}
a.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
li.blue {
    color: blue;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}